/* body {
    background: linear-gradient(to left bottom, rgba(240, 139, 7, 0.911), rgb(169, 105, 253), rgb(255, 120, 196), rgba(206, 20, 91, 0.842));
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 150vh;
  } */

  .swiper {
    width: clamp(950px, 50%, 400px);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-right: 100px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 3px;
  }                  
                