.slider {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}
.item {
  position: absolute;
  width: 300px;
  height: 320px;
  text-align: justify;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  transition: all 1s ease;
  left: calc(50% - 110px);
  top: 10px;
}

#next,
#prev {
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 0;
}
#next {
  left: unset;
  right: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

/* slider2 */
/*  */
@media (max-width:768px){
  .slider{
    width: 100%;
    margin-right: 0;
  }
  .item{
    left: 10%;
    width: 80%;
    height: 250px;
  }
}