.slider {
  position: relative;
  height: 380px;
  overflow: hidden;
}
.item {
  position: absolute;
  width: 370px;
  height: 370px;
  text-align: justify;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  transition: all 1s ease;
  left: calc(50% - 110px);
  top: 10px;
}
#next,
#prev {
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 0;
}
#next {
  left: unset;
  right: 0;
}
/* slider2 */
/*  */
@media (max-width:768px){
  .slider{
    width: 100%;
    margin-right: 0;
  }
  .item{
    left: 10%;
    width: 80%;
    height: 290px;
  }
}
/* slider image moving */
.slider_brands{
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider_track{
  display: flex;
  width: calc(250px * 16);
  animation: scroll 40s linear infinite;
}

.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  gap: 2rem;

}
.slider_brands img{
  width: 60%;
}
@keyframes scroll {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(calc(-250px * 8));
  }
}