:root {
  --transition: 0.25s;
  --spark: 1.8s;
  --paracolor: #8c8c8c;
  --theme:#FFBD6A;
  --active: 0;
  --background: radial-gradient(
      40% 50% at center 100%,
      hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
      transparent
    ),
    radial-gradient(
      80% 100% at center 120%,
      hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
      transparent
    ),
    hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
}
.text-main{
  color: #FFBE6C;
}
.text-theme{
  color: var(--theme);
}
.h-100vh {
  height: 100vh;
}
.h-75vh {
  height: 75vh;
}
.h-50vh {
  height: 50vh;
}
.h-100-res{
  min-height: 100vh;
}
.h-100-min{
  min-height: 100vh;
}
.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
a {
  text-decoration: none;
}
.footer_items {
  color: #757575;
  font-size: 20px;

}

.h-25vh {
  height: 25vh;
}
.space-y-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.space-y-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.space-y-6  {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.space-y-7  {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.error{
  margin: 5px 1px -10px 1px;
}

.navbar .navbar-brand img{
  width: 70%;
}
.tooltip-inner {
  background-color: #ffcc00; /* Change this to your desired color */
  color: #000; /* Optional: Change the text color */
}
.navbar .sidebar a{
  position: relative;
}
.navbar .sidebar a::after{
 content: '';
 position: absolute;
 background-color: #ffbd6a;
 height: 1px ;
 width: 0;
 left: 0;
 bottom: 0;
 transition: all 0.5s;
}
.navbar .sidebar a:hover::after{
 width: 100%;

}
.text-center-res{
  text-align: start;
}
.py-24 {
  padding-top: 6rem /* 96px */;
  padding-bottom: 6rem /* 96px */;
}
.py-25 {
  padding-top: 7rem /* 96px */;
  padding-bottom: 7rem /* 96px */;
}
.py-large {
  padding-top: 12rem /* 96px */;
  padding-bottom: 12rem /* 96px */;
}

.btn_custom_1{
  font-size: 15px !important;
  line-height: 36/18 = 2 !important;
  letter-spacing: 0.12em;
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: none;
  text-transform: capitalize;
  /* background: transparent; */
  border: 1px white solid;
  padding: 5px 1.5em;
}
.flex {
  display: flex;
}
.text-sub-color{
  color: #8c8c8c;
}
.text-sub {
  color: #8c8c8c;
  width: 70%;
}
.para-home{
  font-weight: 100;
  font-size: clamp(15px, 4vw, 20px);
}
.para-head{
  font-weight: 500;
  font-size: clamp(13px, 5vw, 30px);
}
.para{
  width: 70%;
  font-weight: 100;
  font-size: clamp(15px, 4vw, 20px);
}
.sction-missions .para{
  text-align: center;
}
/* .client-color {
  color: #6b6b6b;
} */
.text-head {
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: clamp(25px, 8vw, 48px);
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  text-transform: capitalize;
}
.text-head-sm {
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 50%;
}

.text-sm-size{
  color: #8C8C8C;
  font-size: 1.5rem;
}
footer a:hover{
  color: #ffbd6a;
}

.text-style-custom{
  font-family: "Share Tech";
  /* width: 60%; */
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  font-size: clamp(30px, 6vw, 60px);
  /* line-height: 100%; */
  letter-spacing: -0.01em;
  text-transform: capitalize;
  background: linear-gradient(90deg, #FF8E00 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-style {
  font-family: "Share Tech";
  /* width: 60%; */
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  font-size: clamp(40px, 6vw, 60px);
  /* line-height: 100%; */
  letter-spacing: -0.01em;
  text-transform: capitalize;
  background: linear-gradient(90deg, #ffbd6a 33.05%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.card-bg {
  box-sizing: border-box;
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);
  border-radius: 10px;
  margin: 1em auto;
  width: 100%;
}


.button{
  padding: 0.8em 2em;
  background: #1F1F1F;
  color: white;
  border: none;
  border-radius: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ;
  &:active {
    transform: scale(.95);
}

}
.button span .bi-download {
  padding-left: 0.7rem;
}
.button .fa-play {
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    /* position: absolute; */
    right: 5px;
}
.button::after{
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom right, #666666,#000000);
  height: 103%;
  width: 103%;
  border-radius: 1000px;
  z-index: -1;

} 
.reel-button{
  /* padding: 0.5em 1em 0.5em 1em; */
  background: #FABD64;
  color: black;
  /* overflow: hidden; */
  /* min-width: 150px; */
}
.modal-content {
  background-color: #666666; /* Set modal background color to black */
  color: white;
  overflow: hidden;
}
.modal-body video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-header{
  border: 0;
}
.modal-header .btn-close {
  color: white !important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-center-res {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
/* meadia query */
@media only screen and (max-width: 1330px) {
  .text-style {
    /* width: 100%; */
  }
  .section-service {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .foot-privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .text-center-res{
    text-align: center;
  }
  .flex-center-res {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-service {
    width: 50%;
    text-align: center;
  }
  .card-bg {
    width: calc(50% - 2rem);
  }
  .space-y-6,.space-y-5,.space-y-4  {

    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .text-sub{
    width: 100%;
    font-size: small;
  }
  .text-head-sm {
    max-width: 90%;
  }
  .h-100-res{
    min-height: 100%;
  }
  .para{
    width: 90%;
  }
  .py-large {
    padding-top: 5rem /* 96px */;
  padding-bottom: 5rem 
  }
  
.navbar .navbar-brand img{
  width: 50%;
}
.py-25 {
  padding-top: 2rem /* 96px */;
  padding-bottom: 2rem /* 96px */;
}
.footer_items {
  color: #757575;
  font-size: 17px;

}
  /* .accordion-part {
    width: 100%;
    padding: 1rem 0 2rem 0;
  } */
}
