:root {
  --transition: 0.25s;
  --spark: 1.8s;
  --paracolor: #8c8c8c;
  --theme:#FFBD6A;
}
.text-main{
  color: #FFBE6C;
}
.text-theme{
  color: var(--theme);
}
.h-100vh {
  height: 100vh;
}
.h-75vh {
  height: 75vh;
}
.h-50vh {
  height: 50vh;
}
.w-80{
  width: 80%;
}
a {
  text-decoration: none;
}
.footer_items {
  color: #757575;
}
.h-25vh {
  height: 25vh;
}
.space-y-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.space-y-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.space-y-6  {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.space-y-7  {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width:768px) {
  .space-y-6,.space-y-5,.space-y-4  {

    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


.navbar .sidebar a{
  position: relative;
}
.navbar .sidebar a::after{
 content: '';
 position: absolute;
 background-color: #ffbd6a;
 height: 1px ;
 width: 0;
 left: 0;
 bottom: 0;
 transition: all 0.5s;
}
.navbar .sidebar a:hover::after{
 width: 100%;

}
.py-24 {
  padding-top: 6rem /* 96px */;
  padding-bottom: 6rem /* 96px */;
}
.py-25 {
  padding-top: 7rem /* 96px */;
  padding-bottom: 7rem /* 96px */;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn_custom_1{
  font-size: 18px !important;
  line-height: 36/18 = 2 !important;
  letter-spacing: -0.02em;
  color:#fff;
  border: none;
  text-transform: uppercase;
  background: transparent;
  border: 1px white solid;
  padding: 5px 2em;
}
.flex {
  display: flex;
}
.text-sub-color{
  color: #8c8c8c;
}
.text-sub {
  color: #8c8c8c;
  width: 70%;
}
@media (max-width:786px) {
  .text-sub{
    width: 100%;
    font-size: small;
  }
}
.client-color {
  color: #6b6b6b;
}
.text-head {
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: clamp(10px, 6vw, 48px);
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  text-transform: capitalize;
}
.text-head-sm {
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 50%;
}
.text-sm-size{
  color: #8C8C8C;
  font-size: 1.5rem;
}
footer a:hover{
  color: #ffbd6a;
}
.btn-all{
  border: none;
  outline: none;
  padding: 1rem 3rem;
  /* background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%); */
background: #1F1F1F;
color: white;
  border-radius: 20px;
  transition: all 1s;
}
.btn-all:hover{
  background: #FFBD6A;
  color: #000000;
}
.btn-all:active{
  transform: scale(0.9);
}
/* @media (max-width: 768px) {
  .text-head {
    width: calc(100% - 2rem);
  }
} */
.text-style {
  font-family: "Share Tech";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  font-size: clamp(15px, 6vw, 40px);
  /* line-height: 100%; */
  letter-spacing: -0.01em;
  text-transform: capitalize;
  background: linear-gradient(90deg, #ffbd6a 33.05%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.card-bg {
  box-sizing: border-box;
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);
  border-radius: 10px;
  margin: 1em auto;
  width: 100%;
}
@media (max-width: 1330px) {
  .text-style {
    width: 100%;
  }
  .section-service {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .section-service {
    width: 50%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .card-bg {
    width: calc(50% - 2rem);
  }
}
.accordion-part {
  width: 50%;
}
@media (max-width: 768px) {
  .accordion-part {
    width: 100%;
    padding: 1rem 0 2rem 0;
  }
}
.accordion-item {
  background: transparent;
  border-bottom: 1px white solid;
  color: #8c8c8c;
}
.accordion-button {
  background: transparent;
  outline: none;
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: #ffffff;
}
.accordion-button:focus {
  box-shadow: none;
}

/* costome button */
.button {
  --active: 0;
    --background: radial-gradient(
      40% 50% at center 100%,
      hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
      transparent
    ),
    radial-gradient(
      80% 100% at center 120%,
      hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
      transparent
    ),
    hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
  color: #8c8c8c;
  background: var(--bg);
    --text: #fff;
    --icon: #fff;
    --icon-success: #16BF78;
    display: flex;
    outline: none;
    border: 0;
    padding: 0 22px 0 16px;
    min-width: 147px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    background: var(--background);
    transition: transform .2s;
    &:active {
        transform: scale(.95);
    }
    ul {
        margin: 0;
        padding: 13px 0;
        list-style: none;
        text-align: center;
        position: relative;
        backface-visibility: hidden;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        color: var(--text);
        li {
            &:not(:first-child) {
                top: var(--t, 13px);
                left: 0;
                position: absolute;
            }
            &:nth-child(2) {
                --t: 64px;
            }
            &:nth-child(3) {
                --t: 115px;
            }
        }
    }
    .icon {
        width: 24px;
        height: 24px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 14px 10px 0 0;
        transform: translateY(calc(var(--y, 0) * 1px));
        svg {
            width: var(--w, 14px);
            height: var(--h, 15px);
            display: block;
            fill: none;
            stroke: var(--s, var(--icon));
            stroke-width: var(--sw, 2);
            stroke-linejoin: round;
            stroke-linecap: round;
        }
        & > svg,
        div {
            left: var(--l, 7px);
            top: var(--t, 2px);
            position: absolute;
        }
        & > svg {
            transform: translateY(calc(var(--y, 0) * 1px));
            polyline,
            line {
                stroke-dasharray: var(--a, 12px);
                stroke-dashoffset: var(--o, 0);
                stroke: var(--s, var(--icon));
                transition: stroke-dashoffset var(--d, .15s), stroke .4s;
            }
            polyline {
                --d: .25s;
                --a: 17px;
                --o: 5.5px;
            }
        }
        div {
            --w: 24px;
            --h: 24px;
            --l: 0;
            --t: 8px;
            --sw: 1.5;
        }
    }
    &.loading {
        ul {
            animation: text 1750ms linear forwards 100ms;
        }
        &.complete {
            .icon {
                svg {
                    line {
                        --o: 12px;
                    }
                    polyline {
                        --o: 0;
                        --s: var(--icon-success);
                    }
                }
            }
        }
    }
}
