* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
}
body {
  font-family: "Share Tech", sans-serif;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background-color: black;
}
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 1rem; */
  /* background: #ec994b; */
  background: linear-gradient(90deg, #ffbd6a 33.05%, #ffffff 100%);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #222224; */
  background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
}

::-webkit-scrollbar-track {
  /* background: #797979; */

}
/* section {
  scroll-snap-align: start;
} */
:root {
  --transition: 0.25s;
  --spark: 1.8s;
  --paracolor: #8c8c8c;
}

.modai-viewer-tag{
  width: 100%;
  height: 100%;
}
.section-container {
  width: 100%;
}

.shadow_bubble {
  border-radius: 50%;
  background: #e98200;
  opacity: 0.3;
  box-shadow: 0 0 30px 20px rgba(255, 189, 106, 0.5);
  position: absolute;
  transform: translate(-50%, -50%); /* Center the bubble */
  filter: blur(65px);
  z-index: -1;
}
.nav-item {
  /* margin: 0 0.5rem; */
}
.nav-link{
  font-size: clamp(15px, 4vw, 20px);
}
.section-container .right-Side {
  bottom: -111px;
  padding: 0 2rem;
}
/* Ellipse 1 */

/* @media (min-width: 1280px) {
  .section-container {
    padding-left: 6rem ;
    padding-right: 6rem ;
  }
} */
/* .main-1{
    display: flex;
    background-color: #FFBD6A;
    column-gap: 20px;
}
.right-Side{
 width: 50%;
}

.left-Side{
    width: 50%;
} */
/* ========================== header =================== */
nav.scrolled {
  background-color: white;
  /* backdrop-filter: blur(10px); */
  /* opacity: 0.1; */
}
nav.scrolled a {
  /* color: black !important; */
}

/* button group starts*/
/* Updated CSS with background color #FFBD6A */
/* .sparkle-button_1 {
  --active: 0;
  --bg: #ffbd6a; 
  color: black;
  background: var(--bg);
  font-size: 1.1rem;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.3em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  white-space: nowrap;
  border-radius: 100px;
  position: relative;
  box-shadow: 0 0 calc(var(--active) * 6em) calc(var(--active) * 3em)
      hsl(260 97% 61% / 0.75),
    0 0.05em 0 0
      hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition),
    background var(--transition);
  scale: calc(1 + (var(--active) * 0.1));
} */

/* .sparkle-button_1:hover {
  transform: scale(1.05); 
  transition: transform 0.5s ease;
} */

/* .sparkle-button_2 {
  --cut: 0.1em;
  --active: 0;
  --bg: radial-gradient(
      40% 50% at center 100%,
      hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
      transparent
    ),
    radial-gradient(
      80% 100% at center 120%,
      hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
      transparent
    ),
    hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
  color: #8c8c8c;
  background: var(--bg);
  font-size: 1rem;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: 0.9em 1.3em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  white-space: nowrap;
  border-radius: 100px;
  position: relative;
  box-shadow: 0 0 calc(var(--active) * 6em) calc(var(--active) * 3em)
      hsl(260 97% 61% / 0.75),
    0 0.05em 0 0
      hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition),
    background var(--transition);
  scale: calc(1 + (var(--active) * 0.1));
} */

/* button:active {
  transform: scale(5);
  transition: all 3s;
} */
/* CSS for button hover effect */
/* .sparkle-button button:hover {
  transform: scale(1.05); 
  transition: transform 0.5s ease;
}

.button-hacks:hover .text {
  transform: translateX(20px); 
  transition: transform 0.5s ease;
} */

/* .button-hacks:hover i {
  transform: translateX(10px); 
  transition: transform 0.5s ease;
} */

/* scroll effects */
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
/* ======== */

/* service cards */
.user-cards {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  margin: 3em 1em 1em 1em;
  cursor: pointer;
  max-width: 25em;
  /* background: rgba(171, 171, 171, 0.1); */
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);
  color: #fff;
  padding: 2em;
  text-align: start;
  border-radius: 0.8em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  position: relative;
  backdrop-filter: blur(4px);
  border: 1px #555 solid;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* background: linear-gradient(0deg, #59fc72, #44c9fa); */
  background: linear-gradient(0deg, #3f337f, #bbcbe2);
  width: 0;
  height: 0;
  z-index: -1;
  border-radius: inherit;
  /* animation: fill 2s ease-in-out forwards; */
}
.profile-img {
  width: 6em;
  height: 6em;
  margin: -4em auto 0 auto;
  border-radius: 50%;
  /* background: linear-gradient(0deg, #59fc72, #02bafc); */
  background: linear-gradient(0deg, #3f337f, #bbcbe2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0.5em #26293e;
}
.profile-img img {
  width: 90%;
  height: 90%;
  border-radius: inherit;
}
.cards h2 {
  color: #fff;
  margin: 2em 0 0.8em 0;
  font-weight: 400;
}
.cards small {
  color: #555;
  font-size: 0.9em;
  line-height: 27px;
  max-width: 20em;
  margin: 2em auto 2em auto;
  transition: 0.2s;
}
.cards button {
  background: rgba(171, 171, 171, 0.2);
  border: none;
  border-radius: 3em;
  padding: 0.8em 2em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.cards:hover button {
  background-color: #fff;
  color: #111;
}
.cards:hover small {
  color: #fff;
}
.cards:nth-child(2) .profile-img,
.cards:nth-child(2)::before {
  background: linear-gradient(0deg, #3f337f, #bbcbe2);
}
.cards:nth-child(3) .profile-img,
.cards:nth-child(3)::before {
  background: linear-gradient(0deg, #3f337f, #bbcbe2);
}
.cards:hover::before {
  animation: fill 1s ease-in-out forwards;
}
@keyframes fill {
  40% {
    width: 100%;
    height: 0.5em;
  }
  50% {
    width: 100%;
    height: 0.5em;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

/* ============================== */
/* .section-clintes {
  display: grid;
place-items:  center;
} */
.section-clintes_title {
  text-align: center;
  width: 50%;
}

/* section-clintes_slider */
.section-clintes_slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.section-clintes_slidertrack {
  display: flex;
  width: calc(250px * 6);
  animation: clientScroll 20s linear infinite;
}
@keyframes clientScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-250px * 3)
    ); /* Adjust according to the total width of your slides */
  }
}

.section-clintes_card {
  /* height: 200px; if image
  width: 250px; */
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.section-clintes .section-clintes_slider span {
  width: 100%;
}

/* gradient shadow .section-clintes_card */
.section-clintes_slide::before,
.section-clintes_slide::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  position: absolute;
  height: 100%;
  width: 15%;
  z-index: 2;
}

.section-clintes_slide::before {
  left: 0;
  top: 0;
}
.section-clintes_slide::after {
  right: 0;
  top: 0;
  transform: rotateZ(100deg);
}

/* .section-clintes .section-clintes_slider */

.section-clintes .section-clintes_slider .section-clintes_card span:hover {
  /* transform: translateZ(20px); */
  transform: scale(1.1);
  transition: transform 0.5s;
}
.section-clintes .client_spotify:hover {
  color: green;
}
.section-clintes .client_netflix:hover {
  color: red;
}
.section-clintes .client_disney:hover {
  color: blue;
}
#G-1 {
  color: #4889f4; /* Google Blue */
}
#o-1 {
  color: #ea4335; /* Google Red */
}
#o-2 {
  color: #fbbe0d; /* Google Green */
}
#G-2 {
  color: #4889f4; /* Google Yellow */
}
#L {
  color: #3aab58; /* Google Red */
}
#E {
  color: #ea4335; /* Google Blue */
}
.section-clintes_card:hover .client_google {
  display: none;
}
.section-clintes_card #google {
  display: none;
  transition: all 0.5s;
}
.section-clintes_card:hover #google {
  display: block;
  transition: all 0.5s;
}

.section-clintes_slidertrack:hover {
  animation-play-state: paused;
}
/* moves the slide track leftwards (-250px) by half (6 images / 2 = 12) of its width */
/* section-energy-hand_flex */

.section-energy-hand_flex {
  display: flex;
}
.section-energy-hand_right {
  width: 50%;
}
.section-energy-hand_left {
  width: 50%;
}
/* =============== map ================== */

/* @media (max-width: 768px) {
  .section-energy-hand_flex {
    display: flex;

    flex-direction: column;
  }
  .section-energy-hand_right{
    width: 100%;
  }
  .section-energy-hand_left{
    width: 100%;
  }
} */
/* ======================================== */
/* =========== Design.Build.Market. ============*/
.design {
  margin: 1em;
  cursor: pointer;
  max-width: 25em;
  color: #fff;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  position: relative;
  backdrop-filter: blur(4px);
  border: 1px #555 solid;
  /* background: linear-gradient(90deg, #ffffff 0%, #6c6c6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  transition: background-color 0.3s, color 0.3s;
}
.design:hover {
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);
  color: white;
}


.design a {
  color: #a4a4a4;
}

/* .design:hover::before {
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
} */

.sec-map {
  display: flex;
  width: 100%;
  height: 353px;
}
.sec_map_l {
  width: 40%;
  height: 100%;
  padding: 3rem 0rem;
}
/* .fa-brands_home i{
  color: #000000; 
  font-size: 2rem;
  transition: all 0.5s;
} */
.fa-brands {
  margin-top: 1rem;
  color: #000000;
  font-size: 2rem;
  transition: all 0.5s;
}
.fa-brands:hover {
  color: #e98200;
}

.sec_map_l_child {
  height: 100%;
}
.sec_map_r {
  width: 60%;
  height: 100%;
}
.sec-map-container {
  margin-bottom: 15px;
}

/* service new changes /*********************** */
/* .service_cards {
  margin: 0.54em;
  cursor: pointer;
  width: calc(33.333% - 2em);
  font-weight: 100;
  text-align: start;
  color: #fff;
  padding: 3em 2em 2em 2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  position: relative;
  backdrop-filter: blur(4px);
  border: 1px #555 solid;
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);
  transition: transform 0.5s ease;
} */
.service_cards {
  margin: 0.54em;
  cursor: pointer;
  width: calc(33.333% - 2em);
  font-weight: 100;
  text-align: start;
  color: #fff;
  padding: 3em 2em 2em 2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  position: relative;
  /* backdrop-filter: blur(4px); */
  /* border: 1px #555 solid; */
  background: linear-gradient(101.64deg, #000000 3.1%, #151515 98.29%);

  transition: all 0.1s ease;
}
.service_cards::before {
  content: "";
  background: linear-gradient(#292727, #292727) 50% 50% / calc(100% - 2px)
      calc(100% - 2px) no-repeat,
    linear-gradient(
      151deg,
      transparent 38%,
      rgba(225, 231, 233, 0.111) 76%,
      #e1e7e9 97%
    );
  /* background: linear-gradient(#292727, #292727) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat,
            radial-gradient(#7a7676 24%, rgba(225,231,233,0.12) 72%, rgba(226, 231, 234, 0.855) 83%, #e1e7e9 88%, rgba(225,232,233,0.92) 89%); */
  border-radius: 0px;
  padding: 4px;
  box-sizing: content-box;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin: -2px;
}
.service_cards:hover::before {
  margin: 0;
}
.service_cards:hover {
  transform: perspective(950px) translateY(-2%) rotateX(5deg) translateZ(0);
  background: linear-gradient(101.64deg, #242424 3.1%, #2d2d2d 98.29%);
}

.service_cards h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.service_cards small {
  margin-bottom: 10px;
  color: var(--paracolor);
}

.service_cards a {
  text-decoration: none;
  display: block;
  margin-top: 27px;
  color: white;
  font-size: 13px;
}
.service_cards::after {
  content: "";
  position: absolute;
  background-color: #ffbd6a;
  height: 1px;
  width: 0;
  left: 2em;
  right: 1.5em;
  bottom: calc(100% - 10%);
  transition: all 0.5s;
}

.service_cards:hover::after {
  /* width: 100%; */
  width: calc(100% - 80%);
}

/* ***** about us ****** */
.result {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  border: 1px #555 solid;
  background: #0d0d0d;
  /* font-size: 2rem; */
  font-size: clamp(15px, 4vw, 20px);
  color: #ffbd6a;
}
/* index.html */
@media only screen and (min-width: 992px){
.glass {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)
  ); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 2s;
}
}

/* about page/************************ */
@media only screen and (max-width: 1024px) {
  .sec-map-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  .sec-map {
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
  }
  .sec_map_l {
    width: 100%;
    height: 50%;
    padding: 1rem 0rem;
  }
  /* .sec_map_l_child{
    height: 0;
  
  } */
  .sec_map_r {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  .sec_map_r iframe {
    border-radius: 10px;
  }
}
footer .row{
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
 
}

@media only screen and (max-width: 992px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 2rem;
    z-index: 9999;
  }
  .glass {
    background: linear-gradient(
      135deg,
      rgba(19, 19, 19, 0.4),
      rgba(0, 0, 0, 0.5)
    ); 
    transition: all 2s;
  }
}
@media only screen and (max-width: 768px) {
  .service_cards {
    width: calc(100% - 2em);
  }
  .service_cards::after {
    left: 2em;
    right: 1.5em;
    bottom: calc(100% - 10%);
  }
  .modai-viewer-tag{
    width: 350px;
    height: 350px;
  }
  
  /* footer .row{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
  } */
  .map-sec{
    height: 300px;
          padding: 2rem;
   }
   .map-sec iframe{
    border-radius: 15px;
  
   }

}
@media only screen and (max-width: 425px) {
  .cards {
    width: 100%;
  }
  .user-cards {
    padding: 0px 0rem;
  }
  .service_cards::after {
    left: 2em;
    right: 1.5em;
    top: calc(100% - 190px);
  }
 
}
@media only screen and (max-width: 320px) {
  .service_cards::after {
    left: 2em;
    right: 1.5em;
    top: calc(100% - 230px);
  }
}